body {
  margin:auto;
  background-color: #e8dfce; 
  width: 50%;
  padding: 10px;
  text-align: ;
  border: 3px solid #cb8655;
  font-family: Tahoma;
 
}
header > div > nav{
  padding: 0 15px 10px 20px;
  font-size: 16px;
  color: #493736;
  margin: auto;
  text-align: center;
}
ol, ul {
    margin-left: 0;
    padding-left: 20px;
}
hr {
  height: 1px;
  background-color: #e8dfce;
  border-color: #e8dfce;
}

h1, h2, h3, nav, p {
  font-family: Tahoma, serif;
  text-align: center;
}


/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: #b65149;
}

a:visited {
  color: #e09b80;
}

a:hover {
  color:#7e8e65;
}

a:active {
  color: brown;
}
